.register-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eef2ff;
}

.register-card {
  width: 380px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
  text-align: center;
}

.register-btn {
  width: 100%;
  padding: 12px;
  border: none;
  background: #16a34a;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.register-btn:hover {
  background: #15803d;
}